<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DX-BALL - In-Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function checkStatus() {
            fetch("/status")
                .then(response => response.json())
                .then(data => {
                    if (data.game_state === "game_over") {
                        window.location.href = "/gameover";
                    }
                });
        }
        setInterval(checkStatus, 1000); 
    </script>
</head>
<body class="gradient-bg">
    <div class="centered">
        <div class="game-container">
            <img src="{{ url_for('video_feed') }}" width="1280" height="720">
        </div>
    </div>
</body>
</html>